@import "./_variables"; 

// overview 
.overview-content{
    .container{
        .listener-content{
            display: flex;
            flex-direction: column;
            gap: 2rem;

          .banner{
            padding: 2rem 2rem;
            background: var(--primary-gradient);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

              span{
                color: var(--white);
                font-family: var(--ffText);
                font-size: var( --fsp);
                background: rgba(255, 255, 255, 0.3);
                padding: .1rem .8rem;
                border-radius: 1rem;
                text-transform: uppercase;
            }

            h1{
                font-size: 2.5rem;
                line-height: 1;
            }

            h1, p{
                color: var(--white);
            }

            .buttons{
                display: flex;
                align-items: center;
                gap: 1rem;

                .secondary{
                    background: var(--black);
                    color: var(--white);
                }
            }
          }

        //   music list 
          .music-list{
            .heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                margin-bottom: 1rem;

                .link{
                    color: var(--primary-color);
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    cursor: pointer;
                    font-family: var(--ffText);
                    font-size: var(--fsp);
                }
            }

            .music{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: 1rem;

                .box{
                    background: var(--white);
                    border: var(--border);
                     box-shadow: var(--boxShadow);
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 1rem 1rem;
                    transition: var(--transition);
                    cursor: pointer;
                    position: relative;

                      &:hover {
                            transform: translateY(-2px);
                            box-shadow: 0 1px 40px rgba(0,0,0,.2);
                             border: 1px solid var(--primary-color);

                             .box-img{
                                i{
                                    visibility: visible;
                                }

                                .img-box{
                                    transform: scale(1.2) rotate(-10deg);
                                }
                             }
                        }

                        &.active {
                            border: 2px solid var(--primary-color);
                        }

                    .box-img{
                        width: 100%;
                        height: 150px;
                        overflow: hidden;
                        border-radius: 20px;
                         position: relative;

                        .img-box{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: var(--transition);
                        }

                        i{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 2.5rem;
                            height: 2.5rem;
                            background: var(--primary-color);
                            color: var(--white);
                            font-size: var(--fsp);
                            cursor: pointer;
                            border-radius: 50%;
                            box-shadow: var(--boxShadow);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            visibility: hidden;
                            transition: var(--transition);
                        }
                    }

                    .text{
                        padding: 1rem 1rem;
                        padding-bottom: 0;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        h3{
                            font-size: var(--fsp);
                        }

                        p{
                            color: var(--textColor);
                        }
                    }
                }
            }
          }

        // album 
        .albums{
            .list-heading{
                display: flex;
                align-items: center;
                gap: 1rem;
                justify-content: space-between;

            .heading{
                    p{
                    color: var(--textColor);
                    }
                }

                a{
                    color: var(--primary-color);
                    font-size: var(--fsp);
                    font-family: var(--ffText);
                         display: flex;
                align-items: center;
                gap: .5rem;
                }
            }

            .content{
                margin-top: 1rem;
                display: grid;
                // grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;

                  .box{
                flex: 1 1 20rem;
                align-self: normal;
                padding: 1rem 1rem;
                border-radius: 20px;
                border: var(--border);
                box-shadow: var(--boxShadow);
                display: flex;
                flex-direction: column;
                gap: 1rem;
                position: relative;
                transition: var(--transition);

                &:hover{
                    border-color: var(--primary-color);
                    transform: translateY(-2px);
                    box-shadow: 0 1px 40px rgba(0,0,0,.2);

                    .box-img{
                        .img-box{
                            transform: scale(1.2) rotate(-10deg);
                        }
                    }
                }

                .album-title{
                    position: absolute;
                    top: 1.5rem;
                    right: 1.5rem;
                    padding: .3rem .5rem;
                    color: var(--white);
                    background: var(--black);
                    border-radius: 1rem;
                    font-family: var(--ffText);
                    font-size: var(--fsp);
                    z-index: 1;
                }

                .box-img{
                width: 100%;
                height: 200px;
                overflow: hidden;
                border-radius: 20px;
                
                .img-box{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--transition);
                }
                }

                .text{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                
                h3{
                font-size: var(--fsp);
                }
                
                p{color: var(--textColor);}

                .followers{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        
                    span{
                        color: var(--textColor);
                        font-family: var(--ffText);
                        font-size: var(--fsp);}
                    }
                }
            }
            }
        }

        // artists 
        .artist-content{
            .heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                grid-area: 1rem;
                margin-bottom: 1rem;

                h3{
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    i{
                        color: var(--primary-color);
                    }
                }

                a{
                    color: var(--primary-color);
                    font-family: var(--ffText);
                    font-size: var(--fsp);
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                }
            }

            .artist-container{
                display: flex;
                align-items: center;
                gap: 1rem;

                .box{
                    flex: 1 1 20rem;
                    align-self: normal;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: var(--white);
                    border: var(--border);
                     box-shadow: var(--boxShadow);
                    border-radius: 20px;
                    padding: 1rem 1rem;

                    .box-img{
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .img-box{
                            width: 4rem;
                            height: 4rem;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        h3{
                            font-size: var(--fsp);
                            margin-bottom: .3rem;
                        }

                        p{
                            color: var(--textColor);
                        }
                    }

                    .follow{
                        padding: .3rem 1rem;
                        background: var(--whiteIsh);
                        border: var(--border);
                        font-family: var(--ffText);
                        font-size: var(--fsp);
                        color: var(--black);
                        box-shadow: var(--boxShadow);
                        border-radius: 30px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
        }

        // live stream 
        .live-stream{
            padding: 1rem 1rem;
            border: var(--border);
            box-shadow: var(--boxShadow);
            border-radius: 20px;

            .heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;

                p{
                    color: var(--textColor);
                }
            }

            .stream{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                margin-top: 1rem;

                .box{
                    background: var(--white);
                    padding: 1rem 1rem;
                    border: var(--border);
                     box-shadow: var(--boxShadow);
                    border-radius: 20px;
                    display: flex;
                    align-items: flex-start;
                    gap: 1rem;
                    justify-content: space-between;

                    .time{
                        color: var(--textColor);
                        font-family: var(--ffText);
                        font-size: var(--fsp);
                    }

                    .box-img{
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        .img-box{
                            width: 2.5rem;
                            height: 2.5rem;
                            object-fit: cover;
                            border-radius: 50%;
                        }

                        h3{
                            font-size: var(--fsp);
                            margin-bottom: .3rem;
                        }

                        p{
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
        }
    }
}


// listener browser 
.browser-content{
   .container{
     display: flex;
    flex-direction: column;
    gap: 2rem;
   }

    .title{
        display: flex;
        flex-direction: column;
        gap: .5rem;

        p{
            color: var(--textColor);
        }

        .filter{
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
            margin-top: .5rem;

            li{
                padding: .5rem 1rem;
                border: var(--border);
                 box-shadow: var(--boxShadow);
                background: var(--white);
                border-radius: 30px;
                cursor: pointer;
                font-family: var(--ffText);
                font-size: var(--fsp);
                font-weight: 600;
                transition: var(--transition);

                &:hover, &.active{
                    background: var(--primary-color);
                    color: var(--white);
                }
            }
        }
    }

    .genres{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        margin-top: 1rem;

        .box{
            padding: 2rem 1rem;
            border-radius: 20px;
            background: #7003ff;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &:nth-child(2){
                background: #ff0379;
            }
            &:nth-child(3){
                background: #ff7403;
            }
            &:nth-child(4){
                background: #0379ff;
            }
             &:nth-child(5){
                background: #00c291;
            }

            h3{
                font-size: var(--fsp);
                color: var(--white);
            }
            i{
                color: var(--white);
                align-self: flex-end;
            }
        }
    }
}


// featured podcasts 
.featured-podcasts{
    .podcasts{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .box{
            flex: 1 1 45rem;
            align-self: normal;
            background: var(--white);
            border: var(--border);
            box-shadow: var(--boxShadow);
            display: flex;
            gap: 1rem;
            overflow: hidden;
            padding: 1rem 1rem;
            border-radius: 20px;

            .box-img{
                .img-box{
                    width: 5rem;
                    height: 5rem;
                     border-radius: 20px;
                    object-fit: cover;
                    transition: var(--transition);
                }
            }

            .text{
                display: flex;
                flex-direction: column;
                gap: .5rem;

                span{
                    color: var(--primary-color);
                    font-size: var(--fsp);
                    font-family: var(--ffText);
                    text-transform: uppercase;
                    font-weight: 600;
                }

                h3{
                    font-size: var(--fsp);
                }

                p{
                    color: var(--textColor);
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .overview-content .container .listener-content .music-list .music {
        grid-template-columns: repeat(2, 1fr) !important;
    }
.play-list .content{
    flex-wrap: wrap;
}
    .overview-content .container .listener-content .albums .content
        {
            grid-template-columns: repeat(2, 1fr) !important;
        }

    .overview-content .container .listener-content .artist-content .artist-container {
            flex-wrap: wrap;
        }
        .overview-content .container .listener-content .live-stream .stream {

    grid-template-columns: repeat(2, 1fr) !important;
}

.browser-content .genres {
    grid-template-columns: repeat(2, 1fr) !important;
}
.featured-podcasts .podcasts {
    flex-wrap: wrap;
}
.song-player .controls .progress-bar .bar {
    width: unset !important;
}
.song-player .filter-controls
 {
    display: none;
}
}

@media screen and (max-width: 600px) {
    .overview-content .container .listener-content .live-stream .stream {
    grid-template-columns: repeat(1, 1fr) !important;
}
.browser-content .title .filter {
    gap: .5rem !important;
}
.song-player .controls .progress-bar {
    gap: .5rem;
}
}