   <div class="play-list">
            <div class="list-heading">
                <div class="heading">
                    <h3>Made For You</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

                <a href="">View All Playlist<i class="fa-solid fa-right-long"></i></a>
            </div>

            <div class="content">
                <div class="box">
                    <div class="box-img"><img src="assets\img\img-2.jpg" alt="" class="img-box"></div>
                    <div class="text">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, reiciendis?</p>
                        <div class="followers">
                            <span class="tracks">12 Tracks</span>
                            <span class="follow">23k Followers</span>
                        </div>
                    </div>
                </div>
                 <div class="box">
                    <div class="box-img"><img src="assets\img\img-3.jpg" alt="" class="img-box"></div>
                    <div class="text">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, reiciendis?</p>
                        <div class="followers">
                            <span class="tracks">4 Tracks</span>
                            <span class="follow">23k Followers</span>
                        </div>
                    </div>
                </div>
                 <div class="box">
                    <div class="box-img"><img src="assets\img\img-4.jpg" alt="" class="img-box"></div>
                    <div class="text">
                        <h3>Lorem ipsum dolor sit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, reiciendis?</p>
                        <div class="followers">
                            <span class="tracks">7 Tracks</span>
                            <span class="follow">23k Followers</span>
                        </div>
                    </div>
                </div>
            </div>
           </div>